body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

body,
html,
main,
.select-puzzle,
.puzzle-list,
.scene {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
}

main.puzzle-time {
  align-items: center;
  display: flex;
  justify-content: center;
  &:before {
    background-image: url('/images/sc4a.jpg');
    background-size: cover;
    content: '';
    content: '';
    -webkit-filter: blur(10px);
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: opacity 1s;
    width: 100%;
    z-index: 2;
  }
  .select-puzzle {
    left: 0;
    position: fixed;
  }
}

.scene {
  height: auto;
  width: auto;
  z-index: 2;
  &.small-x {
    left: 0;
    position: fixed;
  }
}

.button {
  left: 10%;
  position: fixed;
  top: 10%;
  z-index: 10;
}

.retry-button {
  left: 20%;
}

ul {
  list-style: none;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  -webkit-padding-start: 0;
}

.puzzle {
  background-attachment: fixed;
  background-size: cover;
  float: left;
  height: 30%;
  overflow: hidden;
  width: 100%;
  img {
    width: 100%;
  }
}

.modal {
  display: none;
  left: 50%;
  margin-left: -25%;
  max-width: 50%;
  position: fixed;
  top: 20%;
  z-index: 5;
  &:before {
    background-color: #fff;
    content: '';
    height: 100%;
    left: 0;
    opacity: .8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  &.open {
    display: block;
  }
}

.locked {
  overflow: hidden;
}

.hidden {
  display: none;
}
