body,
html,
main,
.scene {
	height: 100%;
  width: 100%;
  padding: 0;
  z-index: 1;
  margin: 0;

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  height: auto;
  width: auto;
}

img {
    position: fixed;
    z-index: 0;
}

.solve-button {
  z-index: 20;
  position: fixed;
  top: 10%;
  left: 10%;
}
    